<div class="flex-vertical between">
  <div>
    <h2>The Application</h2>
    <p></p>
  </div>

  <div>
    <h2>The Creator</h2>
    <figure>
      <img src="/images/profile.jpg" width="150px">
      <figcaption>John Isom</figcaption>
    </figure>
    <p></p>
  </div>
  
  <small>Disclaimer: Since this application will be hosted on herokuapp.com, this application will not be effective by nature of heroku's ephemeral file system. This is merely a demonstration of my skills. However, if this ends up being hosted somewhere else (such as my own domain), your time logging history will be kept safe.</small>
</div>
