<div class="flex-vertical between">
  <div>
    <h2>The Application</h2>
    <p>This application is a time manager application that allows you to check
      in and check out to track your studying/working time so that you can track
      exactly how many of your precious hours are going to good use.</p>
    <p>This Ruby web application was inspired by a similar command-line
      application I made in Python. (The link to the Github repository of that
      command-line time manager app can be found
      <a href="https://github.com/johnisom/time_manager">here</a>.)</p>
  </div>

  <div>
    <h2>The Creator</h2>
    <figure id="profile-pic">
      <img src="/images/profile.png" width="150px">
      <figcaption>John Isom</figcaption>
    </figure>
    <p>Hi, my name is John Isom. As you can probably guess, I'm the creator of
      this little program. I'm an 18 year old student currently studying
      software development fundamentals at <a href="https://launchschool.com/">
	Launch School</a>.</p>
  </div>
  
  <small id="disclaimer">Disclaimer: Since this application will be hosted on
    herokuapp.com, this application will not be effective by nature of heroku's
    ephemeral file system. This is merely a demonstration of my skills. However,
    if this ends up being hosted somewhere else (such as my own domain), your
    time logging history will be kept safe.</small>
</div>
