<nav class="flex evenly">
  <a class="nav-link" href="/">
    <div>View</div>
  </a>
  <a class="nav-link" href="/">
    <div>Start/Stop/Undo</div>
  </a>
  <a class="nav-link" href="/signin">
    <div>Sign In</div>
  </a>
</nav>
