<nav class="flex around">
  <a class="nav-link" href="/">
    <div>View</div>
  </a>
  <a class="nav-link" href="/">
    <div>Start/Stop/Undo</div>
  </a>
  <% if session[:username] %>
  <a class="nav-link" href="/signout">
    <div>Sign Out</div>
  </a>
</nav>
<div id="header-name">Signed in as
  <span class="copy"><%= session[:username] %></span>
</div>
  <% else %>
  <a class="nav-link" href="/signin">
    <div>Sign In</div>
  </a>
</nav>
  <% end %>
