<div class="flex-vertical between">
    <h1>Help</h1>

    <div class="toc">
      <p class="toc-title">Table of contents</p>
      <ul class="toc-list">
	<li class="toc-item"><a class="toc-anchor" href="#view">View</a></li>
	<li class="toc-item"><a class="toc-anchor" href="#start">Start</a></li>
	<li class="toc-item"><a class="toc-anchor" href="#stop">Stop</a></li>
	<li class="toc-item"><a class="toc-anchor" href="#undo">Undo</a></li>
      </ul>
    </div>

    <p>Welcome! This application is a time management system targeted towards the student. Of course, anybody can use and benefit from this application, and I encourage you to do so. This help page has 4 sections, each relating to the 4 different 'commands' one can perform whilst using this app. To find out more about this application and its creator, check out the <i>About</i> section.</p>

  <div id="view">
    <h2>View</h2>
    <p>The view command is the most complex of all of the commands in this application. It allows you to view your previous log entries in a multitude of different ways with a timeframe filter and additional calculations.</p>
    <p>With the timeframe selection, you can select which timeframe to view and view only days that have a certain amout of time logged to them. You can find them under the <i>Select Timeframe</i> section of the view page.</p>
    <h4>Additional Calculations</h4>
    <p id="daily-digest"><i>Daily Digest:</i> desc. will go here.</p>
    <p id="weekly-digest"><i>Weekly Digest:</i> desc. will go here.</p>
    <p id="day-delimited"><i>Day Delimited:</i> desc. will go here.</p>
    <p id="week-delimited"><i>Week Delimited:</i> desc. will go here.</p>
  </div>

  <div id="start">
    <h2>Start</h2>
    <p>The start command is the command that you use when you wish to start your study/work session. It takes an optional message to be attatched to that specific log entry (see <i><a href="/about">About</a></i> for more info) that can be used to add a note to let you know what exactly you were doing when you view it later.</p>
  </div>

  <div id="stop">
    <h2>Stop</h2>
    <p>The stop command is the command that you use when you wish to stop your study/work session. Like the start command, it takes an optional message that can be used to add a note, describe what you were doing, what you finished doing, what you hope to pick up next time, or something similar.</p>
  </div>

  <div id="undo">
    <h2>Undo</h2>
    <p>The undo command is the command that undoes the previous start or stop command.</p>
    <p>You would use this command if you accidentally pressed start or stop, if you weren't actually using your time productively since you pressed start, or other reasons that you wish to undo the last start/stop command.</p>
    <p><strong class="warning">WARNING:</strong> The undo command is a double edged sword: it is the gracious savior of this application, but can be the cursed devil if used carelessly. Make sure you use this with care.</p>
  </div>


</div>
