<div class="flex-vertical between">
    <h1>Help</h1>

    <div class="toc">
      <p class="toc-title">Table of contents</p>
      <ul class="toc-list">
	<li class="toc-item"><a class="toc-anchor" href="#view">View</a></li>
	<li class="toc-item"><a class="toc-anchor" href="#start">Start</a></li>
	<li class="toc-item"><a class="toc-anchor" href="#stop">Stop</a></li>
	<li class="toc-item"><a class="toc-anchor" href="#undo">Undo</a></li>
      </ul>
    </div>

    <p>Welcome! This application is a time management system targeted towards the student. Of course, anybody can use and benefit from this application, and I encourage you to do so. This help page has 4 sections, each relating to the 4 different 'commands' one can perform whilst using this app. To find out more about this application and its creator, check out the <i>About</i> section.</p>

  <div id="view">
    <h2>View</h2>
    <p></p>
  </div>

  <div id="start">
    <h2>Start</h2>
    <p></p>
  </div>

  <div id="stop">
    <h2>Stop</h2>
    <p></p>
  </div>

  <div id="undo">
    <h2>Undo</h2>
    <p></p>
  </div>


</div>
