<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/time_manager.css" type="text/css">
    <link rel="shortcut icon" href="/images/myfavicon.ico" type="image/x-icon">
    <title>Time Manager | A Simple App</title>
  </head>

  <body>
    <%= yield %>
  </body>
  
</html>
