<form class="flex-vertical" id="signup" action="/signup" method="POST">
  <h2>Sign Up!</h2>
  <input class="signin-input" type="text" id="username" name="username" placeholder="Username">
  <input class="signin-input" type="password" id="password" name="password" placeholder="Password">
  <button class="signin-input button">Sign Up</button>
</form>
