<form class="flex-vertical spaced-form" action="/sign-up" method="POST">
  <h2>Sign Up!</h2>
  <input class="input" type="text" name="username" placeholder="Username" value="<%= params[:username] %>" autofocus>
  <input class="input" type="password" name="password" placeholder="Password">
  <button class="button">Sign Up</button>
</form>
