<div class="flex-vertical between">
  <h1>Welcome to Time Manager!</h1>

  <div>
    <hgroup>
      <h2>New here?</h2>
      <h3>Don't worry. We're here to help.</h3>
    </hgroup>
    <p>For help on how to use this application, click the <i>Help</i> button on the top header bar and read up!</p>
    <p>If you want to learn about this application and the creator of this application, click the <i>About</i> button on the top header bar and educate yourself.</p>
  </div>

  <div>
    <hgroup>
      <h2>Already a user?</h2>
      <h3>You know the drill.</h3>
    </hgroup>
    <p>Just press the <i>Sign In</i> button in the top right corner and get right to work!</p>
  </div>
</div>
