<div class="flex-vertical spaced-form">
  <h2>Are you sure you want to sign out?</h2>

  <form class="flex-vertical" action="/signout" method="POST">
    <button class="button">Yes, sign me out</button>
  </form>

  <form class="flex-vertical" action="/">
    <button class="button">No, I changed my mind</button>
  </form>
</div>
