<nav class="flex around">

  <%= erb :common_header_navs, layout: false %>

  <a class="nav-link" href="/view">
    <div>View</div>
  </a>

  <a class="nav-link" href="/actions">
    <div>Actions</div>
  </a>

  <a class="nav-link" href="/sign-out">
    <div>Sign Out</div>
  </a>
</nav>

<div id="header-name">Signed in as
  <span class="copy"><%= session[:username] %></span>
</div>
