<form class="flex-vertical" id="signin" action="/signin" method="POST">
  <h2>Sign In!</h2>
  <input class="signin-input" type="text" id="username" name="username" placeholder="Username" value="<%= params[:username] %>">
  <input class="signin-input" type="password" id="password" name="password" placeholder="Password">
  <button class="signin-input button">Sign In</button>
  <span>Don't have an account? <a href="/signup">Sign up!</a></span>
</form>
