<div class="flex-vertical spaced-form">
  <hgroup>
    <h2>Are you sure you want to undo the last entry?</h2>
    <h3 class="text-center">(This cannot be undone!)</h3>
  </hgroup>
  
  <form class="flex-vertical" action="/undo" method="POST">
    <button class="button">Yes</button>
  </form>

  <form class="flex-vertical" action="/actions">
    <button class="button">No</button>
  </form>
</div>

