* {
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

body * {
    font-family: sans-serif;
}

header,
footer,
main {
    position: absolute;
    left: 0px;
    right: 0px;
}

main {
    top: 10vh;
    bottom: 10vh;
}

main > * {
    max-height: 80vh;
    overflow: auto;
}

header,
footer {
    background-color: #00f5;
    height: 10vh;
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
}

.flash {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    font-family: monospace;
    text-align: center;
}

.danger {
    background-color: #f005;
}

.neutral {
    background-color: #ff05;
}

.success {
    background-color: #0f05;
}

.flex {
    display: flex;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.evenly {
    justify-content: space-evenly;
}

.around {
    justify-content: space-around;
}

.between {
    justify-content: space-between;
}

.center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.center-horizontal {
    margin-left: auto;
    margin-right: auto;
}

.copy {
    color: #e31b6d;
}

#main-header {
    width: 100%;
    height: 100%;
}

.nav-link {
    align-self: center;
    text-decoration: none;
    font-size: 1.25em;
    color: black;
    padding: 0.5em 2em;
}

.nav-link:hover {
    color: grey;
}

.center-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: monospace;
    font-size: 2em;
}

.spaced-form > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button,
.input {
    font-family: cursive, sans-serif;
    padding: 10px;
    background-color: #eee;
    border: solid black 1px;
    border-radius: 5px;
}

.button {
    width: 40%;
    align-self: center;
}

.button:hover {
    cursor: pointer;
    filter: brightness(50%);
}

#header-name {
    font-size: 16px;
    padding-left: 23px;
    padding-right: 23px;
    align-self: center;
}

.inherit-font {
    font-size: inherit;
    font-family: inherit;
}

.text-center {
    text-align: center;
}

#start-stop-undo {
    width: 80%;
}

#start-stop-undo > form {
    width: 30%;
}

#undo-button {
    height: 57%;
}
